<%- include('../partials/header.ejs', { title: t('calculators.storage_form.title') }) %>

<div class="row">
    <div class="col-12">
        <h1><i class="bi bi-hdd"></i> <%= t('calculators.storage_form.title') %></h1>
        <p class="lead"><%= t('calculators.storage_form.lead') %></p>
        
        <div class="card">
            <div class="card-header">
                <h3><%= t('calculators.storage_form.storage_requirements') %></h3>
            </div>
            <div class="card-body">
                <form action="/calculators/storage" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="numVMs" class="form-label"><%= t('calculators.storage_form.number_of_vms') %></label>
                                <input type="number" class="form-control" id="numVMs" name="numVMs" min="1" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="avgVMSize" class="form-label"><%= t('calculators.storage_form.average_vm_size') %></label>
                                <input type="number" class="form-control" id="avgVMSize" name="avgVMSize" min="1" required>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="growthRate" class="form-label"><%= t('calculators.storage_form.expected_growth_rate') %></label>
                                <input type="number" class="form-control" id="growthRate" name="growthRate" min="0" value="20" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="retentionPeriod" class="form-label"><%= t('calculators.storage_form.backup_retention') %></label>
                                <input type="number" class="form-control" id="retentionPeriod" name="retentionPeriod" min="1" value="30" required>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-calculator"></i> <%= t('calculators.storage_form.calculate_storage') %>
                    </button>
                </form>
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header">
                <h3><%= t('calculators.storage_form.best_practices') %></h3>
            </div>
            <div class="card-body">
                <ul>
                    <li><%= t('calculators.storage_form.include_snapshots') %></li>
                    <li><%= t('calculators.storage_form.account_vsan_overhead') %></li>
                    <li><%= t('calculators.storage_form.consider_thin_provisioning') %></li>
                    <li><%= t('calculators.storage_form.plan_performance') %></li>
                    <li><%= t('calculators.storage_form.implement_policies') %></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>