<%- include('../partials/header.ejs', { title: t('calculators.storage_results.title') }) %>

<div class="row">
    <div class="col-12">
        <h1><i class="bi bi-calculator"></i> <%= t('calculators.storage_results.title') %></h1>
        
        <div class="card">
            <div class="card-header">
                <h3><%= t('calculators.storage_results.summary') %></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4><%= t('calculators.storage_results.vm_specifications') %></h4>
                        <ul class="list-group">
                            <li class="list-group-item"><%= t('calculators.storage_results.number_of_vms') %>: <%= results.numVMs %></li>
                            <li class="list-group-item"><%= t('calculators.storage_results.average_vm_size') %>: <%= results.avgVMSize %> <%= t('resources.results.gb') %></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4><%= t('calculators.storage_results.planning_parameters') %></h4>
                        <ul class="list-group">
                            <li class="list-group-item"><%= t('calculators.storage_results.growth_rate') %>: <%= results.growthRate %>%</li>
                            <li class="list-group-item"><%= t('calculators.storage_results.retention_period') %>: <%= results.retentionPeriod %> days</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header">
                <h3><%= t('calculators.storage_results.storage_requirements') %></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="border rounded p-3 text-center">
                            <h5><%= t('calculators.storage_results.current_storage') %></h5>
                            <h3><%= results.currentStorage %> <%= t('resources.results.gb') %></h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="border rounded p-3 text-center">
                            <h5><%= t('calculators.storage_results.projected_storage') %></h5>
                            <h3><%= results.projectedStorage %> <%= t('resources.results.gb') %></h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="border rounded p-3 text-center">
                            <h5><%= t('calculators.storage_results.backup_storage') %></h5>
                            <h3><%= results.backupStorage %> <%= t('resources.results.gb') %></h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="border rounded p-3 text-center">
                            <h5><%= t('calculators.storage_results.total_required') %></h5>
                            <h3><%= results.totalRequired %> <%= t('resources.results.gb') %></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header">
                <h3><%= t('calculators.storage_results.recommendations') %></h3>
            </div>
            <div class="card-body">
                <ul>
                    <% results.recommendations.forEach(rec => { %>
                        <li><%= rec %></li>
                    <% }); %>
                </ul>
            </div>
        </div>
        
        <div class="mt-4">
            <a href="/calculators/storage" class="btn btn-primary">
                <i class="bi bi-arrow-left"></i> <%= t('calculators.storage_results.new_calculation') %>
            </a>
            <button class="btn btn-secondary" onclick="window.print()">
                <i class="bi bi-printer"></i> <%= t('calculators.storage_results.print_results') %>
            </button>
            <form method="POST" action="/calculators/storage" style="display: inline;">
                <input type="hidden" name="numVMs" value="<%= results.numVMs %>">
                <input type="hidden" name="avgVMSize" value="<%= results.avgVMSize %>">
                <input type="hidden" name="growthRate" value="<%= results.growthRate %>">
                <input type="hidden" name="retentionPeriod" value="<%= results.retentionPeriod %>">
                <button type="submit" name="exportFormat" value="pdf" class="btn btn-info">
                    <i class="bi bi-file-pdf"></i> Export to PDF
                </button>
                <button type="submit" name="exportFormat" value="csv" class="btn btn-success">
                    <i class="bi bi-file-spreadsheet"></i> Export to CSV
                </button>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>