<%- include('partials/header.ejs') %>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3><%= title %></h3>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading"><%= message %></h4>
                    <% if (error && Object.keys(error).length > 0) { %>
                        <hr>
                        <p><strong>Error Details:</strong></p>
                        <pre><%= JSON.stringify(error, null, 2) %></pre>
                    <% } %>
                </div>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>